---
layout: misc
title: Home
---

<div><center><h1>Welcome to Data Science Northwest!</h1></center></div>

We are a data and decision science company based in the Pacific Northwest. <br>

We offer <a href = "https://datasciencenw.github.io/pages/data_science.html">data science</a> solutions and in-house <a href = "https://datasciencenw.github.io/pages/training.html">training workshops</a> for academics and industry professionals. <br>

To learn more about our <a href = "https://datasciencenw.github.io/pages/team.html">team</a>, our <a href = "https://datasciencenw.github.io/pages/about.html">principles</a>, and our offers, click one of the menu links above.<br>

<img src="assets/img/pacific_northwest_crater.jpg">


<!-- {% for post in paginator.posts %}

<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article>

{% endfor %}  -->



<!-- Pagination links
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>  -->
