---
layout: default
title: Home
---

<div><center><h1>Welcome to Data Science Northwest!</h1></div>
  

	<h5> Send us a message. </h5> 
     <form action="https://formspree.io/info@datasciencenw.com" method="POST" id="Contact_form" name="Contact_form" style="margin-top:10px">
     <input type="hidden" name="Form" value="Contact form" />
     <input type="email" name="Email" placeholder="Your email" style="font-size:16px">&nbsp;&nbsp;&nbsp;<button type="submit">Send</button><br>
     <textarea name="Message" placeholder="Your message" style="width:65%;font-size:16px"></textarea>
     </form>

{% for post in paginator.posts %}

<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article>

{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
